::ng-deep {

    .ng5-slider {
	    .ng5-slider-pointer-min, .ng5-slider-pointer-max {
	        background: none !important;
	      }
	      .ng5-slider-pointer-min::after, .ng5-slider-pointer-max::after {
	        background: #fff !important;
	        border: 1px solid !important;
	        height: 20px !important;
	        width: 20px !important;
	        border-radius: 50% !important;
	        top: 6px !important;
	        left: 6px !important;
	      }
	      .ng5-slider-selection {
	      	background: none !important;
	      }
    }
  
}