<nav class="navbar navbar-expand-lg navbar-light bg-light align-items-baseline pt-0">

  <button type="button" class="btn btn-dark rounded-0">
	  LOGO
  </button>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
		<button type="button" class="btn">
		  <h6>HOME</h6>
		</button>
	  </li>
      <li class="nav-item">
        <button type="button" class="btn">
		  <h6>SHOP</h6>
		</button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn">
		  <h6>MAGAZINE</h6>
		</button>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 align-items-baseline">
      <input class="form-control mr-sm-2 border-0" type="search" placeholder="Search" aria-label="Search">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      <button type="button" class="btn">
		  <h6 class="font-weight-normal">LOGIN</h6>
	  </button>
    </form>
  </div>
</nav>