<div class="row">
	<div class="col-sm-4" *ngFor="let product of productDetails" >
		<div class="card">
		  <div class="card-body">
		  	<div (click) = "emitProductDetail(product)">
			 <img [src]="product.imageUrl" width="100%" height="273">
			 <p>{{product.name}}</p>
			 <div class="row justify-content-between">
				 <p>{{product.category}}</p>
				 <p>{{product.price}}</p>
			 </div>
			</div>
			 <div class="row justify-content-between">
			 	<rating></rating>
			 	<i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
			 </div>
		  </div>
		</div>
	</div>
</div>